<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Hadir">

  <test name="Login Tests">
    <parameter name="baseURL" value="https://magang.dikahadir.com/authentication/login"/>
    <parameter name="username" value="admin@hadir.com"/>
    <parameter name="password" value="MagangSQA_JC@123"/>
    <classes>
      <class name="com.juaracoding.tajuaracoding.login.PositiveLogin"/>
      <class name="com.juaracoding.tajuaracoding.login.NegativeLogin"/>
    </classes>
  </test>

  <test name="Authentication Tests">
    <parameter name="baseURL" value="https://magang.dikahadir.com/authentication/login"/>
    <parameter name="username" value="admin@hadir.com"/>
    <parameter name="password" value="MagangSQA_JC@123"/>
    <classes>
    <class name="com.juaracoding.tajuaracoding.laporan.IzinTerlambat"/>
  </classes>
  </test>

  <test name="Dashboard Tests">
  <parameter name="baseURL" value="https://magang.dikahadir.com/authentication/login"/>
  <parameter name="username" value="admin@hadir.com"/>
  <parameter name="password" value="MagangSQA_JC@123"/>
  <classes>
    <class name="com.juaracoding.tajuaracoding.Dashboard.DashboardTest"/>
  </classes>
  </test>

</suite>
